#container-box {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 190px;
}

.accordion {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
}
.chevron-icons {
    width: 30px;
}

.number-text {

}
.text-answer{

}

.hidden-box p{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.list-text li {
    color: black;
    font-family: 'Courier New', Courier, monospace; 
}